.card {
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  &:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    .image-card {
      transform: translateY(-20px);
    }
  }
  .image-card {
    height: 110%;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  h3 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 190px;
  }
  p {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    margin: 0 0 20px 20px;
  }
}
