* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  max-width: 1030px;
  margin: auto;
}

// text background color
.bg-blue-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    104.74deg,
    rgb(0, 85, 255) 0%,
    rgb(0, 170, 255) 100%
  );
  background-clip: text;
}

.bg-white-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    104.74deg,
    rgb(198, 208, 235) 0%,
    rgb(198, 208, 235) 100%
  );
  background-clip: text;
}

// TITLE
h1 {
  font-size: 160px;
  line-height: 1;
  @media (max-width: "1040px") {
    font-size: 11vw;
  }
  @media (max-width: "690px") {
    font-size: 21vw;
  }
}
h2 {
  font-size: 120px;
  @media (max-width: "1040px") {
    font-size: 9vw;
  }
  @media (max-width: "690px") {
    font-size: 19vw;
  }
}

h3 {
  font-size: 60px;
  @media (max-width: "1040px") {
    font-size: 7vw;
  }
  @media (max-width: "690px") {
    font-size: 11vw;
  }
}

// paragraphe
p {
  line-height: 150%;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  background: linear-gradient(
    104.74deg,
    rgb(198, 208, 235) 0%,
    rgb(198, 208, 235) 100%
  );
  background-clip: text;
  @media (max-width: "690px") {
    font-size: 16px;
  }
}

// Scrollbar
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b1b1b1;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #b1b1b1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
