nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  padding: 50px 0px;
  transition: 0.2s ease-in;
  &.mini-nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    backdrop-filter: blur(20px);
  }
  .container {
    height: 100%;
    max-width: 800px;
    margin: 0px auto;
    ul {
      list-style: none;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 5px;
      align-items: center;
      justify-items: center;
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          font-size: 22px;
          cursor: pointer;
        }
        &.logo {
          a {
            display: flex;
            align-items: center;
            img {
              width: 43px;
            }
          }
        }
        &.mode {
          a {
            display: flex;
            align-items: center;
            img {
              width: 28px;
            }
          }
        }
      }
    }
  }
}
