.slide-list {
  background-color: black;
  overflow: hidden;
  position: relative;
  .motion-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: lightgrey;
    overflow: hidden;
  }
  .container {
    padding: 130px 24px 100px;
    position: relative;
    z-index: 1;
    color: #4e8098;
    height: 100%;
    max-width: 1030px;
    margin: auto;
    .btn-delete {
      position: fixed;
      right: 30%;
      top: 200px;
      opacity: 0;
      font-weight: bold;
      z-index: 999;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
        fill: black;
      }
    }
    .contain-info {
      padding: 60px 0 0;
      .text-scroll {
        margin-top: 15px;
        font-size: 20px;
        box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;
        justify-self: center;
        white-space: nowrap;
        background: linear-gradient(
          104.74deg,
          rgb(0, 85, 255) 0%,
          rgb(0, 170, 255) 100%
        );
        border-radius: 30px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border: none;
        padding: 16px 60px;
        outline: none;
        transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
        margin-top: 20px;
      }
      ul {
        position: relative;
        z-index: 10;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        // width: auto;
        margin: 20% 0 20%;
        list-style: none;
        display: flex;
        align-items: center;
        height: 120px;
        font-size: 100px;
        font-weight: bold;
        &:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
        li {
          &:first-child {
            margin-left: 0;
          }
          pointer-events: none;
          margin: 0 100px;
        }
      }
      .text-bottom {
        display: block;
        line-height: 150%;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
        background: linear-gradient(104.74deg, #c6d0eb 0%, #c6d0eb 100%);
        -webkit-background-clip: text;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}
