.slide-list {
  height: 100vh;
  background-color: black;
  overflow: hidden;
  .motion-background {
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: lightgrey;
    position: absolute;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
    color: #4e8098;
    height: 100%;
    max-width: 1030px;
    padding: 0 42px;
    margin: auto;
    .btn-delete {
      position: absolute;
      z-index: 1;
      right: 42px;
      top: 120px;
      opacity: 0;
      font-weight: bold;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
        fill: black;
      }
    }
    .contain-info {
      padding: 80px 0;
      h2 {
        font-size: 120px;
      }
      p {
        line-height: 150%;
        font-size: 18px;
        font-weight: 400;
        background: linear-gradient(
          104.74deg,
          rgb(198, 208, 235) 0%,
          rgb(198, 208, 235) 100%
        );
        background-clip: text;
      }
      .text-scroll {
        margin-top: 15px;
        font-size: 20px;
        box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;
        justify-self: center;
        white-space: nowrap;
        background: linear-gradient(
          104.74deg,
          rgb(0, 85, 255) 0%,
          rgb(0, 170, 255) 100%
        );
        border-radius: 30px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 16px 60px;
        outline: none;
        transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
        margin-top: 20px;
      }
      ul {
        width: fit-content;
        cursor: pointer;
        margin: 15% 0 100px;
        list-style: none;
        display: flex;
        align-items: center;
        // background-color: red;
        height: 120px;
        font-size: 100px;
        font-weight: bold;
        li {
          &:first-child {
            margin-left: 0;
          }
          pointer-events: none;
          margin: 0 100px;
        }
      }
      .text-bottom {
        display: block;
        margin-top: 170px;
        font-size: 18px;
        font-weight: 400;
        background: linear-gradient(
          104.74deg,
          rgb(198, 208, 235) 0%,
          rgb(198, 208, 235) 100%
        );
        background-clip: text;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.try {
  height: 100vh;
}
