.example {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px;
  align-items: center;
  @media (max-width: 730px) {
    grid-template-columns: 1fr;
  }
  &.right {
    grid-template-columns: 1fr 300px;
    @media (max-width: 730px) {
      grid-template-columns: 1fr;
    }
  }
  .text {
    position: relative;
    background: linear-gradient(
      104.74deg,
      rgb(0, 85, 255) 0%,
      rgb(0, 170, 255) 100%
    );
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    &.left {
      border-bottom-right-radius: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -18px;
        right: 0px;
        border-bottom: 20px solid transparent;
        border-right: 20px solid rgb(0, 170, 255);
      }
    }
    &.right {
      border-bottom-left-radius: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -18px;
        left: 0px;
        border-bottom: 20px solid transparent;
        border-left: 20px solid rgb(0, 85, 255);
      }
    }
  }
  .image {
    width: 100%;
    border-radius: 20px;
    @media (max-width: 730px) {
      grid-row: 2 / auto;
    }
  }
}
