.courses {
  background-color: black;
  position: relative;
  overflow: hidden;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 280px 24px 120px;
    @media (max-width: 940px) {
      grid-template-columns: 1fr;
    }
    .left-side {
      h3 {
        font-size: 40px;
        line-height: 120%;
        span {
          color: #fff;
        }
      }
      p {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 400;
        @media (max-width: 600px) {
          font-size: 20px;
        }
      }
    }
    .right-side {
      ul {
        a {
          text-decoration: inherit;
        }
      }
    }
  }
}
